*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    list-style-type: none;
    text-decoration:none;
    color: rgb(0, 0, 0);
}
.todo{
    height:100%;
    display: grid;
    grid-template-rows: minmax(90px, 7vh) minmax(80vh, 100%) minmax(120px, 15vh);
    overflow: hidden;
}
.heightZero{
    height: 0px;
}
article, .indexArticle{
    background-color:#D7C7E6;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.indexArticle{
    @include flexColCenter();
    background-image: linear-gradient(270deg, rgb(215 199 230),rgba(43, 42, 42, 0.212)), linear-gradient(90deg, rgb(215 199 230),rgba(43, 42, 42, 0.212)), url("./../assets/wel.png");
    background-position: 100%, 0%, center;
    background-size: 50%, 50%, auto;
    justify-content: flex-start;
}
.indexImg{
    margin-top: 20px;
    background-image: radial-gradient(closest-side,rgba(0, 0, 0, 0.925),transparent);
    background-position: center;
    animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.articleText, .contText{
    width: 570px;
    font-weight:bolder;
    font-size: large;
    position: relative;
    text-align: center;
    margin-top: 3%;
}
.bold{
    padding-top: 10px;
    font-weight: bold;
}
.inline{
    display: inline;
}
.textoMain{
    text-align: center;
}
.productosFlex, .contFlex{
    @extend .spaceArrown;
    flex-wrap: wrap;
}
.productosFlex{
    align-items: flex-start;
    background-image:linear-gradient(270deg, rgb(47, 38, 56), transparent), linear-gradient(90deg, rgb(47, 38, 56) ,transparent);
    background-position: 100%,0%;
    background-size: 50%,50%;
    padding-top: 20px;

}

.subray{
    border: 0;
    border-bottom: 2px;
    border-style:inset;
    border-color: rgba(0, 0, 0, 0.548);
    padding-left: 5rem;
    padding-right: 5rem;
}
.contText{
    width: 45%;
    margin-bottom: 3%;
}
.pading, .formSubray{
    padding: 1%; 
}
.formSubray{
    margin-bottom: 1.5%;
    border: 0;
    border-bottom: 2px;
    border-style:inset;
    border-color: rgba(0, 0, 0, 0.548);
}
.midInput{
    width: 93%;
}
.spaceArrown{
    display: flex;
    justify-content: space-around;
}
.justCheck{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: initial;
}
.ayuda{
    text-align: center;
    font-size: medium;
    @include flexColCenter();
}
.ayudaSpace{ 
    width: 20%;
    height: fit-content;   
}
.menuBotonImg, #menuBoton{
    display: none;
}
.barra{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.fondoAyudaCell{
    background-image:url(./../assets/ayudaCs.png) ; 
    background-size: cover;
    background-position-y:bottom ;
    padding-bottom: 2rem;
}
.images:active{
    width: 400px;
}
article p{
    animation: articTextSpawn 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    margin-bottom: 0;
}
@media screen and (max-width: 720px){
    .todo{
        grid-template-rows: minmax(80px, 7vh) minmax(68vh, 100%) minmax(120px, 25vh);
    }
    .menuBotonImg{
        display: block;
        width: 50px;
        right: 1rem;
        top: 15px;
        position: relative;
    }
    .headerBar{
        background-image: none;
    }
    #menuBoton:checked ~ul{
        left: 0%;
        animation: menuDes 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .heightZero{
        height: auto;
    }
    .footerIcon{
        padding-top: 4px;
        left: 0;
        bottom: 0;
        height: 30px;
    }
    .articleText{
        width: 300px;
    }
    .nosotros{
        width: 400px;
    }
    .fondo{
        background-image:linear-gradient(0deg, rgba(215, 199, 230, 0.1),rgba(215, 199, 230, 0.1)) url(./../assets/sas.jpg) ;
        background-position: left;
        background-size:cover;
    }
    .contFlex{
        flex-flow: column;
        align-items: center;
        font-size: 76%;
    }
    .contText{
        width: 300px;
    }
    .ayudaSpace, .indexImg{
        width: 95%;
    }
    .fondoAyudaCell{
        background-size: cover;
        background-image: linear-gradient(0deg, #ffffffc2, #ffffffc2), url(./../assets/ayuda.jpg);
    }
}
@media screen and (max-width: 440px){
    .subray,p,h3,h2{
        font-size: 13px;
    }
}
@media screen and (max-width: 320px){
    .articleText{
        width: 220px;
        font-size:medium;
    }
    .subray, h3,p,h2{
        font-size: 10px;
    }
}
