footer{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0deg, $moradoOscuro, $moradoClaro);
    width: 100%;
    ul{
        position: relative;
        left:15%;
        height:min-content;
        font-size:14px;
        @media screen and (max-width: $high){
            text-align: center;
            left: 0;   
        }
        a{
            @media screen and (min-width: 721px){
            height: 0px;
            position: relative;
            bottom: 53px;
            left: 72%;
            img{
                width: 66px;  
                }
            }
        }
        a:hover{
            transform: $escalauno;
        }
       @media screen and (max-width: $low){
        font-size:10px; 
    }
    }
    h6{
        position: relative;
        font-size: 14px;
        color: $semiNegro;
        margin-top: 15px;
        @media screen and (max-width: 721px){
            font-size: 12px;
            margin-top: 0px;
        }
    } 
    
}