form{
    display: flex;
    justify-content:center;
    margin-top: 3rem;
    padding-top: 1%;
    margin-bottom: 3rem;
    border: 2px;
    border-style: inset;
    border-radius: 20px;
    border-color: $negro;
    height: fit-content;
    width: 54%;
    @media screen and (max-width: $high){
        width: 95%;  
    }
    ul{
        display: flex;
        flex-direction: column;
        width: 90%;
        li{
            display: flex;
            justify-content:center;
            
            input, textarea{
                background-color: $semiNegro;
                border-radius: 5px;
                border: 0;
                padding: 5px;
                width: 45%;
                margin-inline: 0.5rem;
            }
            input[type="checkbox"]{
                display: flex;
                width: 20px;
                height: 20px;
                margin-right: 11px;
            }
        }
    }
}
.formSubray{
    @extend .pading;
    border: 0;
    border-bottom: 2px;
    border-style:inset;
    border-color: $semiNegro;
}