header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg ,$lilaClaro , $lilaOscuro);
    background-size: 600% 100%;
    animation: backrgb 8s infinite alternate both;
    border-bottom: 2px double $moradoOscuro;
    width: 100%;
    a:hover{
        transform: $escalauno;
    }
    div{
        ul{
            display: flex;
            li{
                background-image: none;
                position: relative;
                display:inline;
                font-size: 26px;
                margin-right: 4px;
                background-image: linear-gradient(0deg, transparent, $gris);
                border-radius: 7px;
                a{
                    p{
                        font-size: 22px;
                    }
                }
            }
            li:hover{
                animation: sombra 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                background-image: linear-gradient(0deg, $grisOscuro, $grisOscuro);
            }
            @media screen and (max-width: $high){
                flex-direction: column;
                z-index:20;
                padding: 4px;
                align-items: stretch;
                position:relative;
                top: 26px;
                left: 300px;
                width: 100%;
                background-color: $gris;
                border-bottom-left-radius: 5px;
                overflow: hidden;
            }
        }
    }
    @media screen and (max-width: $high){
        align-items: flex-start;   
    } 
}
