form{
    display: flex;
    justify-content:center;
    margin-top: 3rem;
    padding-top: 1%;
    margin-bottom: 3rem;
    border: 2px;
    border-style: inset;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    height: fit-content;
    width: 54%;
    @media screen and (max-width: 720px){
        width: 95%;  
    }
    ul{
        display: flex;
        flex-direction: column;
        width: 90%;
        li{
            display: flex;
            justify-content:center;
            
            input, textarea{
                background-color: rgba(0, 0, 0, 0.144);
                border-radius: 5px;
                border: 0;
                padding: 5px;
                width: 45%;
                margin-inline: 0.5rem;
            }
        }
    }
}