@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes articTextSpawn {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes menuDes {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes sombra {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes backrgb {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #c3a6df, #8576ce);
  background-size: 600% 100%;
  animation: backrgb 8s infinite alternate both;
  border-bottom: 2px double rgb(51, 28, 49);
  width: 100%;
}
header a:hover {
  transform: scale(1.1);
}
header div ul {
  display: flex;
}
header div ul li {
  position: relative;
  display: inline;
  font-size: 26px;
  margin-right: 4px;
  background-image: linear-gradient(0deg, rgba(178, 193, 194, 0.226), rgb(178, 193, 194));
  border-radius: 7px;
}
header div ul li a p {
  font-size: 22px;
}
header div ul li:hover {
  animation: sombra 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-image: linear-gradient(0deg, rgba(92, 95, 95, 0.918), rgb(124, 124, 124));
}
@media screen and (min-width: 0px) and (max-width: 720px) {
  header div ul {
    flex-direction: column;
    z-index: 20;
    padding: 4px;
    align-items: stretch;
    position: relative;
    top: 26px;
    left: 300px;
    width: 100%;
    background-color: rgb(119, 109, 129);
    border-bottom-left-radius: 5px;
    overflow: hidden;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(48, 34, 44), rgb(121, 82, 121));
  width: 100%;
}
footer ul {
  position: relative;
  left: 15%;
  height: min-content;
  font-size: 14px;
}
@media screen and (max-width: 720px) {
  footer ul {
    text-align: center;
    left: 0;
  }
}
@media screen and (min-width: 721px) {
  footer ul a {
    height: 0px;
    position: relative;
    bottom: 53px;
    left: 72%;
  }
  footer ul a img {
    width: 66px;
  }
}
footer ul a:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 280px) {
  footer ul {
    font-size: 10px;
  }
}
footer h6 {
  position: relative;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5882352941);
  margin-top: 15px;
}
@media screen and (max-width: 721px) {
  footer h6 {
    font-size: 8px;
    margin-top: 0px;
  }
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 600px;
  max-height: 750px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .container {
    max-width: 500px;
  }
}
.container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

#item-1:checked ~ .cards #img-4, #item-2:checked ~ .cards #img-1, #item-3:checked ~ .cards #img-2, #item-4:checked ~ .cards #img-3 {
  transform: translatex(0) scale(0.7);
  opacity: 0;
  z-index: 0;
}

#item-1:checked ~ .cards #img-3, #item-2:checked ~ .cards #img-4, #item-3:checked ~ .cards #img-1, #item-4:checked ~ .cards #img-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.7;
  z-index: 1;
}

#item-1:checked ~ .cards #img-2, #item-2:checked ~ .cards #img-3, #item-3:checked ~ .cards #img-4, #item-4:checked ~ .cards #img-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.7;
  z-index: 1;
}

#item-1:checked ~ .cards #img-1, #item-2:checked ~ .cards #img-2, #item-3:checked ~ .cards #img-3, #item-4:checked ~ .cards #img-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 2;
}
#item-1:checked ~ .cards #img-1 img, #item-2:checked ~ .cards #img-2 img, #item-3:checked ~ .cards #img-3 img, #item-4:checked ~ .cards #img-4 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

/*# sourceMappingURL=newstyles.css.map */
