*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    list-style-type: none;
}
.todo{
    height:100%;
    display: grid;
    grid-template-rows: minmax(90px, 7vh) minmax(80vh, 100%) minmax(120px, 15vh);
    overflow: hidden;
}
a{
    text-decoration:none;
    color: rgb(0, 0, 0);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(183, 159, 206);
    border-bottom: 2px double rgb(51, 28, 49);
    width: 100%;
}
header ul, .images{
    display: flex;
}
header ul li{
    position: relative;
    display:inline;
    font-size: 26px;
    margin-right: 4px;
    background-image: linear-gradient(0deg, rgba(178, 193, 194, 0.226), rgb(178, 193, 194));
    border-radius: 7px;
}
.headerBar:hover{
    animation: sombra 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-image: linear-gradient(0deg, rgba(92, 95, 95, 0.918), rgb(124, 124, 124));
}
.logo:hover{
    transform: scale(1.1);
}

article, .indexArticle{
    background-color:#D7C7E6;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 30px;
}
.indexArticle{
    display: flex;
    background-image: linear-gradient(270deg, rgb(215 199 230),rgba(43, 42, 42, 0.212)), linear-gradient(90deg, rgb(215 199 230),rgba(43, 42, 42, 0.212)), url("./../assets/wel.png");
    background-position: 100%, 0%, center;
    background-size: 50%, 50%, auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.indexImg{
    margin-top: 20px;
    background-image: radial-gradient(closest-side,rgba(0, 0, 0, 0.925),transparent);
    background-position: center;
    animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.articleText, .contText{
    width: 570px;
    font-weight:bolder;
    font-size: large;
    position: relative;
    text-align: center;
    margin-top: 3%;
}
footer{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0deg, rgb(48, 34, 44), rgb(121, 82, 121));
    width: 100%;
}
.heightZero{
    height: 0;
}
.footerIcon{
    position: relative;
    bottom: 30px;
    left: 36%;
    height: 66px;  
}
.footerIcon:hover{
transform: scale(1.1);
}
footer ul, footer div{
    position: relative;
    left:15%;
    height:min-content;
    font-size:14px;
}
.bold{
    padding-top: 10px;
    font-weight: bold;
}
.inline{
    display: inline;
}
.textoMain{
    text-align: center;
}
.copy{
    position: relative;
    font-size: 12px;
    color: #00000096;
}
.productosFlex, .contFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.productosFlex{
    align-items: center;
}
.images{
width: 300px;
}
.nosotros, .form{
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style-type: none;
    text-align: center;
    width: 500px;
}
.subray{
    border: 0;
    border-bottom: 2px;
    border-style:inset;
    border-color: rgba(0, 0, 0, 0.548);
    padding-left: 5rem;
    padding-right: 5rem;
}
.fondo{
    display: flex;
    justify-content: center;
    background-image:linear-gradient(270deg, rgb(215 199 230),transparent),linear-gradient(90deg,rgb(215 199 230),transparent),url(./../assets/sas.jpg),url(./../assets/sas2.jpg) ;
    background-position: 0%,100%,right, left;
    background-size: 31%,31%,30%,30%;
}
.form{
    margin-top: 3%;
    padding-top: 1%;
    margin-bottom: 6%;
    border: 2px;
    border-style: inset;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    height: fit-content;
    width: 54%;
}
form ul{
    width: 90%;
}
.contText{
    width: 45%;
    margin-bottom: 3%;
}
.pading, .formSubray{
    padding: 1%; 
}
.formSubray{
    margin-bottom: 1.5%;
    border: 0;
    border-bottom: 2px;
    border-style:inset;
    border-color: rgba(0, 0, 0, 0.548);
}
.lowInput, .midInput{
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    border: 0;
    padding: 5px;
    width: 45%;
}
.midInput{
    width: 93%;
}
.spaceArrown{
    display: flex;
    justify-content: space-around;
}
.justCheck{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: initial;
}
.ayuda{
    text-align: center;
    font-size: medium;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.ayudaSpace{ 
    width: 20%;
    height: fit-content;   
}
.menuBotonImg, #menuBoton{
    display: none;
}
.barra{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.fondoAyudaCell{
    background-image:url(./../assets/ayudaCs.png) ; 
    background-size: cover;
    background-position-y:bottom ;
}
article p{
    animation: articTextSpawn 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    margin-bottom: 0;
}
.images:active{
width: 400px;

}
@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
@keyframes articTextSpawn {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
@keyframes menuDes {
    0% {
        transform: translateX(300px);
      opacity: 0;
    }
    100% {
              transform: translateX(0);
      opacity: 1;
    }
  }
@keyframes sombra {
  0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@media screen and (max-width: 720px){
    .todo{
        grid-template-rows: minmax(80px, 7vh) minmax(68vh, 100%) minmax(120px, 25vh);
    }
    .menuBotonImg{
        display: block;
        width: 50px;
        right: 15px;
        top: 15px;
        position: relative;
    }
    header{
        align-items: flex-start;
    }
    header ul{
        flex-direction: column;
        z-index:20;
        padding: 4px;
        align-items: stretch;
        position:relative;
        top: 26px;
        left: 300px;
        width: 100%;
        background-color: rgb(119, 109, 129);
        border-bottom-left-radius: 5px;
        overflow: hidden;
    }
    .headerBar{
        background-image: none;
    }
    #menuBoton:checked ~ul{
        left: 0%;
        animation: menuDes 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    #logo:hover{
        bottom: 4px;
    }
    .menuBotonImgFooter{
        display: block;
        position: relative;
        bottom: 6px;
        left: 49px;
        width: 11px;
        height: 9px;
    }
    footer ul{
        position: center ;
        text-align: center;
        left: 0;
    }
    footer .heightZero{
        height: auto;
    }
    .footerIcon{
        padding-top: 4px;
        left: 0;
        bottom: 0;
        height: 30px;
    }
    .articleText{
        width: 300px;
    }
    .nosotros{
        width: 400px;
    }
    .fondo{
        background-image:linear-gradient(0deg,rgba(215 199 230, 0,1),rgba(215, 199, 230, 0.1)) url(./../assets/sas.jpg) ;
        background-position: left;
        background-size:cover;
    }
    .contFlex{
        flex-flow: column;
        align-items: center;
        font-size: 76%;
    }
    .form{
        width: 96%;
    }
    .contText{
        width: 300px;
    }
    .ayudaSpace{
        width: 90%;
    }
    .fondoAyudaCell{
        background-size: cover;
        background-image: linear-gradient(0deg, #ffffffc2, #ffffffc2), url(./../assets/ayuda.jpg);
    }
    .images{
        width: 250px;
    }
    .indexImg{
        width: 95%;
    }
}