/* funsiones */
$escalauno:scale(1.1);
$lilaClaro:#c3a6df;
$lilaOscuro:#8576ce;
$moradoClaro:#795279;
$moradoOscuro:#30222c;
$gris:#acacac;
$semiGris:#d6d6d634;
$grisOscuro: #5a5a5a;
$negro:#000000;
$semiNegro:#0000005d;
$semiBlanco: #ffffff56;
$low:320px;
$mid:440px;
$high:720px;

/* mixin */
@mixin flexColCenter {
  display: flex;
  flex-flow: column;
  align-items: center;
}
@mixin largeFont {
  font-weight:bolder;
  font-size: large;
  text-align: center;
}
@mixin article {
  background-color:$lilaClaro;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
@keyframes articTextSpawn {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
@keyframes menuDes {
    0% {
        transform: translateX($low);
      opacity: 0;
    }
    100% {
              transform: translateX(0);
      opacity: 1;
    }
  }
@keyframes sombra {
  0% {
      box-shadow: 0 0 0 0 transparent;
  }
  100% {
      box-shadow: 0 0 20px 0px $semiNegro;
  }
}
@keyframes backrgb {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
